<% label = @product.service? ? "Editar Servicio" : "Editar Producto" %>
<% content_for :page_title, label %>

<div class="max-w-4xl mx-auto">
  <%= render "form", product: @product, providers: @providers %>
</div>
